body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff5ee;
    text-align: center;
}

#header{
    text-align: center;
}

h1 {
  background: url(Rectangle.jpg);
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
a{
    text-decoration: none;
}

h2{
    color: gray;
}

#logoutBtn{
    position:fixed;
    right:10px;
    top:5px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 100;
    font-size: small; 
    height: 30px;
    cursor: pointer;
}

#formDiv{
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 50px;
    background-color: #ff8243;
    height: 400px;
    width: 500px;
   border-radius: 25px;
}

form{
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: bold;
}

#classes{
    height: 30px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
}

#Day{
    height: 30px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
}

#Time{
    height: 30px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
}

#Bname{
    height: 30px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
}

#buttonDiv{
    text-align: center;
}

#submitButton{
    margin: 5%;
    width: 200px;
    height: 45px;
    background-color:black;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1);
}
