body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff5ee;
}
h1 {
    background: url(Rectangle.jpg);
    text-align: center;
    -webkit-text-fill-color: transparent;
 	  -webkit-background-clip: text;
}

h2 {
    text-align: center;
    color: gray;
}

h3 {
display: inline-flex;
font-size: smaller;
}

h4{
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    color: gray;
    text-align: center;
}

#logoutBtn{
    position:fixed;
    right:25px;
    top:28px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 100;
    font-size: small;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

#BeaverDescription{
    text-align: center;
    background-color: #ffb429;
    text-align: center;
    width: auto;
    opacity: 0.8;
    height: 40px;
    border-radius: 120px
}

.GroupDiv{
    text-align: center;

}

.box{
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #ff8243;
    display: inline-block;
    margin: 3%;
    border-radius: 5px;
}

form {
    position: relative;
    height: 100%;
    bottom: 0;
    right: 0;
}

button:hover{
    transform: scale(1.1);
}

#removeBtn{
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    font-weight: 300;
    font-size: large;
    height: 20px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}

#outerBtnDiv{
    text-align: center;
}

#innerBtnDiv{
    display: block;
}

#ListBtn{
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color:black;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

#CreateBtn{
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color:black;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}
