body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff5ee;
}
h1 {
    background: url(Rectangle.jpg);
    text-align: center;
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
}

h2 {
    text-align: center;
    color: gray;
}

h3 {
    display: inline-block;
    font-weight: 100;

}

h4{
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

#logoutBtn{
    position:fixed;
    right:10px;
    top:5px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 100;
    font-size: small; 
    height: 30px;
    cursor: pointer;
}

#BeaverDescription{
    background-color: #FFB500;
    text-align: center;
    width: auto;
    height: 54px;
    opacity: 0.8;
    border-radius: 80px;


}

.GroupDiv{
    text-align: center;

}

.box{
    text-align: center;
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #ff8243;
    display: inline-block;
    margin: 3%;
    border-radius: 5px;
}

#editForm {
    position: absolute;
    bottom: 0;
    left: 0;
}

#removeForm {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
}

button:hover{
    transform: scale(1.1);
}

#removeBtn{
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    font-weight: 300;
    font-size: large;
    height: 20px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}

#editBtn{
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    font-weight: 300;
    font-size: large;
    height: 20px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

#outerBtnDiv{
    text-align: center;
}

#innerBtnDiv{
    display: block;
}

#ListBtn{
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color:black;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

#CreateBtn{
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color:black;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

