body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff5ee;
  text-align: center;
}

h1 {
  text-align: center;
}

.topRight{
    position:absolute;
    top:0;
    right:0;
}

h3 {
  text-align: center;
  margin: 0px;
}

.create {
  text-align: center;
  padding-bottom: 15px;
}

#listingBox{
  display: inline-block;
  margin-top: 50px;
  background-color: #FDD26E;
  height: 400px;
  width: 600px;
}

.listing {
  display: inline-block;
  width: 50%;
  height: 50px;
  /*position: absolute;*/
  background-color: #FFB500;
  color: black;
  border: 4px #FFB500;
  border-style: outset;
  /*margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 20px;*/
  border-radius: 25px;
}

.info {position: absolute;}

.info2 {
  position: absolute;
  right: 0px;
  margin-right: 65px;
  margin-top: 15px;
}

.joinButton {
  position: relative;
  float: right;
  margin-right: 55px;
}

form {
  position: absolute;
}

button {
  padding: 16px 15px;
  border: 1px solid black;
  background-color: #FFB500;
  border-radius: 25px;
  color: black;
}

button:hover {background-color: black;}
