body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff5ee;
  text-align: center;
}

h1 {
  background: url(Rectangle.jpg);
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h3 {
  text-align: center;
  color: gray;
}

a{
  text-decoration: none;
  color: black;
}

.create {
  text-align: center;
}

#CreateGroupbtn{
  margin-top: 15px;
  background-color: #FFB500;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

#listingBox{
  display: inline-block;
  margin-top: 40px;
  background-color: #FDD26E;
  height: 100%;
  width: 80%;
  border-radius: 15px;
}

.listing {
  display: inline-block;
  width: 90%;
  height: 50px;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: #FFB500;
  color: black;
}

#joinButton{
  background-color: black;
  border: none;
  color: white;
  height: 50px;
  width: 60px;
  float: right;
}

button:hover{
  transform: scale(1.1);
}
